@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#calculator {
  background-color: #383C4A;
  width: 360px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#display {
  background-color: blue;
  width: 350px;
  height: 70px;
  margin: 5px 5px 0 5px;
}

#buttons {
  display: flex;
}

#left-buttons {
  width: 205px;
  height: 275px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.digits {
  background-color: #404552;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  width: 65px;
  height: 65px;
  border-radius: 5px;
  position: relative;
}

.digits p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.extras {
  background-color: #43BD8E;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  width: 65px;
  height: 65px;
  border-radius: 5px;
  position: relative;
}

.extras p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#right-buttons {
  background-color: red;
  width: 135px;
  height: 275px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}